body{
	font-family:monospace;
}

#Rock {
  background-image: url(images/rock.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color:white;
  background-size:contain;
  /* put the height and width of your image here */
  height: 200px;
  width: 200px;
  border: none;
  cursor:pointer;
  
}

#Paper {
  background-image: url(images/paper.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color:white;
  background-size:contain;
  /*put the height and width of your image here */
  height: 200px;
  width: 200px;
  border: none;
  cursor:pointer;
}

#Scissors {
  background-image: url(images/scissors.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color:white;
  background-size:contain;
  /* put the height and width of your image here */
  height: 200px;
  width: 200px;
  border: none;
  cursor:pointer;
  
}

#scoreKeeperTable{
	text-align:center;
	border-collapse:collapse;
}

table, td, th {
    border: 5px solid #677482;
	padding:15px;
	min-width:150px;
	font-size:2rem;
}

h1{
	font-size:3em;
}

p {
	font-size:1rem;
}

th{
	background-color:#D9E1E9;
	color:#23A0D3;
}

td{
	font-size:2em;
	font-weight:bold;
}


.gameButton:hover{
	 box-shadow: 0px 2px 5px #888888;
}

#intro{
	text-align:center;
}

#form{
	text-align:center;
}
#result{
	text-align:center;
}
